*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

#wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 10rem;
}


