*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 10px;
}

#wrapper {
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

#timer-wrapper
{ 
    .timer-separator {
        font-size: 10rem;
    }
    
    button img
    {
        width: 3rem;
        height: 1.5rem;
        position: relative;
        top: 2px;

        &.down {
            rotate: 180deg;
        }
    }

    ul 
    {
        list-style: none;

        display: flex;

        li
        {
            margin: 2px 4px;

            &.button-before-separator
            {
                margin-right: auto;
            }    
        }
        input, button
        {
            width: 8rem;


            border: solid 2.5px grey;
            border-radius: 10px;
            
            &:focus 
            {
                outline: none;
            }
            &:hover 
            {
                cursor: pointer;
            }
        }
        button 
        {    
            background-color: hsl(0, 0, 87.5);
            transition: all .25s;

            &:hover
            {
                background-color: hsl(0, 0, 75);
            }
            &:focus
            {
                background-color: hsl(0, 0, 66.6);
                border-color: hsl(0, 0, 33.3);
            }
        }
        &#timer input
        {   
            font-size: inherit;
            text-align: center;
    
            font-size: 10rem;
        }
        &.timer-buttons button 
        {
            height: 3rem;
        }
    }
}